---
title: Eric Morris | Portfolio
---

<div class="view" id="about">
  <a class="back" href="#" aria-label="Back">
    <div class="text-modal">
      <object>
        <h3>Eric Morris</h3>
        <p>Hi there!</p>
        <p>I'm Eric, a full-stack engineer on the International team at <a href="https://www.udacity.com" target="_blank" rel="noopener">Udacity</a>. My day-to-day consists of writing software and making data-informed decisions to ensure access to high-quality educational experiences for people all over the world.</p>
        <p>Prior to Udacity, I was a Product Engineer at <a href="https://zurb.com" target="_blank" rel="noopener">ZURB</a>, where I helped maintain open source projects and Rails SaaS apps, in addition to helping out with frontend development for clients such as Samsung, JCPenny and SAP. I also interned at <a href="https://palantir.com" target="_blank" rel="noopener">Palantir</a>, where I was a Forward-Deployed Engineer on the Healthcare team.</p>
        <p>During my time at Cornell, I served as the Creative Director for <a href="https://cusd.cornell.edu" target="_blank" rel="noopener">Cornell University Sustainable Design (CUSD)</a>, a 150+ student organization that specializes in sustainable architecture. I also helped manage a student co-working space called POPSHOP and founded <a href="https://yorango.com" target="_blank" rel="noopener">Yorango</a>, a real-estate startup that focuses on student rentals and subleases.</p>
      </object>
    </div>
  </a>
</div>

<div class="view" id="contact">
  <a class="back" href="#" aria-label="Back">
    <div class="contact-links">
      <object>
        <ul>
          <li><a href="https://twitter.com/thedeerchild" target="_blank" rel="noopener">Twitter</a></li>
          <li><a href="https://linkedin.com/in/elm232" target="_blank" rel="noopener">LinkedIn</a></li>
          <li><a href="https://behance.net/elm232" target="_blank" rel="noopener">Behance</a></li>
          <li><a href="https://github.com/thedeerchild" target="_blank" rel="noopener">GitHub</a></li>
          <li><a href="https://dribbble.com/thedeerchild" target="_blank" rel="noopener">Dribbble</a></li>
          <li><a href="mailto:hello@thedeerchild.com" target="_blank" rel="noopener">Email</a></li>
        </ul>
      </object>
    </div>
  </a>
</div>

<div class="background">
  <div class="title">
    <%= image_tag 'images/wordmark.svg', alt: 'the deer child', class: 'title__wordmark' %>
    <h1 class="sr-only">The Deer Child</h1>
    <h2 class="title__tagline">An engineer with a passion for product, data and design</h2>
  </div>
</div>

<nav class="main-nav">
  <ul>
    <li><a href="https://medium.com/@thedeerchild" target="_blank" rel="noopener">Blog</a></li>
    <li><a href="#about">About Me</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
